<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMDB Sentiment Analysis</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>IMDB Sentiment Analyzer</h1>
        
        <textarea id="textInput" placeholder="Enter a movie review..."></textarea>

        <button onclick="analyzeSentiment()">Analyze</button>

        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
